MyComponents/Connected Services/ServiceReference1/showTransactions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44311/showTransactions.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyComponents" />
  <xs:element name="GetTransactionHistory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransactionHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyComponents" minOccurs="0" name="GetTransactionHistoryResult" nillable="true" type="q1:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>